/**
 *  变量声明
 */

 @header-height: 60px;
 @nav-width: 160px;
 @header-color: rgb(172, 187, 182);
 @nav-color: #373836;

/**
 * 主题风格
 */
 @lj-black: #454647;
 @lj-green: #34BB8E;
 @primary-color: @lj-green;
 @info-color: @lj-green;