/**
 *  变量声明
 */

 @header-height: 64px;
 @nav-width: 0px;
//  @header-color: #070707;
 @header-color: #fff;
 @nav-color: #2f333b;
 @nav-font-color: #fff;
 @nav-font-color-hover: #34bb8e;
 @main-color: #fff;

/**
 * 主题风格
 */
 @lj-black: #454647;
 @lj-green: #34BB8E;
 @lj-blue: #1890ff;
 @primary-color: @lj-blue;
 @info-color: @lj-blue;